body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#new-notif-form-container {
  border-top: 1px #999 solid;
  padding-top: 20px;
}

.user-box {
  padding: 0px 15px 10px 15px;
  border-right: 1px #999 solid;
}

.user-info {
  text-align: center;
  font-weight: bold;
  font-size: 15pt;
}

.reminders-container {
  border-radius: 20px;
  margin-top: 10px;
  border: 1px #cbcbcb solid;
}

.finished-items-container {
  border-radius: 20px;
  margin-top: 10px;
  border: 1px #cbcbcb solid;
  display: none;

}

.reminders-header {
  display: flex;
  border-radius: 5px;
  padding: 7px 12px;
  border-bottom: 1px #cbcbcb solid;
  font-weight: bold;
}

.reminder-header-info {
  padding-left: 5px;
  font-weight: normal;
  font-size: small;
}

.reminders-body {
  padding-bottom: 25px;
  margin: 5px 5px 5px 0px;
  height: 25vh;
  overflow-y: auto;
}

.reminder-item {
  padding: 3px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reminder-item:hover {
  background: #E1DEDD;
}

.reminder-item-buttons {
  display: flex;
}

.icon-button {
  margin-left: 5px;
  padding: 2px 5px;
  border-radius: 50%;
}

.button-finished {
  background: #59ce75;
}

.button-delete {
  background: #e35266;
}

.others-button-container {
  padding: 10px 10px 0px 10px;
}

@media (min-width: 728px) and (max-width: 1150px) {
  /* enter large tablet style overrides here */
}

@media (min-width: 420px) and (max-width: 727px) {
  /* enter medium tablet and large phone style overrides here */
    body {
      padding: 0px;
    }
}

@media (min-width: 1px) and (max-width: 419px) {
  /* enter small devices and phone style overrides here */
  body {
    padding: 0px;
  }
}